flows (1).json
[{"id":"3f985bbd.ae1db4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e4967572.9d3798","type":"ibmiot in","z":"3f985bbd.ae1db4","authentication":"apiKey","apiKey":"7b84bbf9.7a31f4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":240,"wires":[["b66dcba6.f066a8"]]},{"id":"af3f6870.3d3a08","type":"debug","z":"3f985bbd.ae1db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"b66dcba6.f066a8","type":"function","z":"3f985bbd.ae1db4","name":"","func":"msg.payload = msg.payload.Face_detect\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["af3f6870.3d3a08","6a535f8d.89c46"]]},{"id":"6a535f8d.89c46","type":"switch","z":"3f985bbd.ae1db4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["f230652d.fcd368"]]},{"id":"77e2254a.80cf5c","type":"debug","z":"3f985bbd.ae1db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"f230652d.fcd368","type":"rbe","z":"3f985bbd.ae1db4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":570,"y":320,"wires":[["b45df1c9.29c24"]]},{"id":"b45df1c9.29c24","type":"http request","z":"3f985bbd.ae1db4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=6juUTiCmfWNPZHKaJFzkcsQpMAxn2B8S9o53VbrYIXlyEt10DOL9CoQbMIXwUzG6rl2n5EjFHKZPAt13&route=q&message=Alert!%20Someone%20is%20at%20your%20door&language=english&flash=0&numbers=8074628796","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":320,"wires":[["77e2254a.80cf5c"]]},{"id":"11cf7c7c.0c7304","type":"http request","z":"3f985bbd.ae1db4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ebc948ef-7e52-48b5-a89d-d08741e60f2a-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":480,"wires":[["fa1a4e85.9de77"]]},{"id":"f7db5338.f7b36","type":"inject","z":"3f985bbd.ae1db4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":480,"wires":[["11cf7c7c.0c7304"]]},{"id":"2c51a2a1.07617e","type":"debug","z":"3f985bbd.ae1db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":440,"wires":[]},{"id":"fa1a4e85.9de77","type":"function","z":"3f985bbd.ae1db4","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["2c51a2a1.07617e","80aa77c1.93ca28"]]},{"id":"f492d5c7.f75848","type":"ui_button","z":"3f985bbd.ae1db4","name":"","group":"73abf1b0.972f","order":1,"width":6,"height":1,"passthru":false,"label":"CLICK HERE TO VIEW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":210,"y":540,"wires":[["11cf7c7c.0c7304"]]},{"id":"80aa77c1.93ca28","type":"ui_template","z":"3f985bbd.ae1db4","group":"73abf1b0.972f","name":"","order":2,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\" alt=\"Image Not Found\" style= \"width:400px; height:300px\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":520,"wires":[[]]},{"id":"6b91c764.f4ac58","type":"ui_button","z":"3f985bbd.ae1db4","name":"","group":"73abf1b0.972f","order":3,"width":0,"height":0,"passthru":false,"label":"OPEN DOOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":380,"y":900,"wires":[["ccf31a0f.c2e498"]]},{"id":"cfbd355d.fe9378","type":"ui_button","z":"3f985bbd.ae1db4","name":"","group":"73abf1b0.972f","order":4,"width":0,"height":0,"passthru":false,"label":"CLOSE DOOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":380,"y":840,"wires":[["ccf31a0f.c2e498"]]},{"id":"40527e4a.bd8b","type":"http in","z":"3f985bbd.ae1db4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":980,"wires":[["d6e49776.9e9b28"]]},{"id":"2345715a.e0d57e","type":"http response","z":"3f985bbd.ae1db4","name":"","statusCode":"","headers":{},"x":630,"y":980,"wires":[]},{"id":"ccf31a0f.c2e498","type":"ibmiot out","z":"3f985bbd.ae1db4","authentication":"apiKey","apiKey":"7b84bbf9.7a31f4","outputType":"cmd","deviceId":"12345","deviceType":"ESP32","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":820,"wires":[]},{"id":"fcce5884.1b2428","type":"debug","z":"3f985bbd.ae1db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":920,"wires":[]},{"id":"d6e49776.9e9b28","type":"function","z":"3f985bbd.ae1db4","name":"","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":980,"wires":[["2345715a.e0d57e","fcce5884.1b2428","ccf31a0f.c2e498"]]},{"id":"56a8824d.7a86fc","type":"http in","z":"3f985bbd.ae1db4","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":230,"y":680,"wires":[["815624e4.9e3d78"]]},{"id":"bd6a785e.d29648","type":"http response","z":"3f985bbd.ae1db4","name":"","statusCode":"","headers":{},"x":690,"y":680,"wires":[]},{"id":"815624e4.9e3d78","type":"function","z":"3f985bbd.ae1db4","name":"","func":"msg.payload = {\n    \"image\" : \"https://s3.jp-tok.cloud-object-storage.appdomain.cloud/vinaykumar/21-06-03-21-11.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":680,"wires":[["bd6a785e.d29648"]]},{"id":"129686a.a8d9f79","type":"ui_button","z":"3f985bbd.ae1db4","name":"","group":"73abf1b0.972f","order":8,"width":0,"height":0,"passthru":false,"label":"EMERGENCY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":380,"y":780,"wires":[["ccf31a0f.c2e498"]]},{"id":"7b84bbf9.7a31f4","type":"ibmiot","name":"GCET","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"73abf1b0.972f","type":"ui_group","name":"Window","tab":"767eadbc.acf6c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"767eadbc.acf6c4","type":"ui_tab","name":"Smart Security System","icon":"dashboard","order":3,"disabled":false,"hidden":false}]